[Amirhossein Mahmoudi](https://ammahmoudi.github.io)
# Runge-Kutta-Verner method
solution to [Numerical Analysis (R. Burden, Aires, A. Burden) [10th Ed.]](https://www.amazon.com/Richard-Burden-Numerical-Analysis-Hardcover/dp/B00SB3UL20) Section 5.5 question 7

![7](images/5_5_7.png)

In [80]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

# Runge-Kutta-Verner

In [81]:
def runge_kutta_verner(f,a,b,alpha,tol,h_max,h_min):
    t=a
    w=alpha
    h=h_max
    flag=True
    result=[]
    result.append([t,w,0,0])
    while(flag and t<b):
      #  print("h:",h)
        k1=h*f(t,w)

        k2=h*f(t+h/6.0,w+k1/6.0)

        k3=h*f(t+4.0*h/15.0,w+4*k1/75.0+16*k2/75.0)
        
        k4=h*f(t+2*h/3.0,w+5*k1/6.0-8*k2/3.0+5*k3/2.0)

        k5=h*f(t+5*h/6.0,w-165*k1/64.0+55*k2/6.0-425*k3/64.0+85*k4/96.0)

        k6=h*f(t+h,w+12*k1/5.0-8*k2+4015*k3/612.0-11*k4/36.0+88*k5/255.0)

        k7=h*f(t+h/15.0,w-8263*k1/15000+124*k2/75.0-643*k3/680.0-81*k4/250.0+2484*k5/10625.0)

        k8=h*f(t+h,w+3501*k1/1720.0-300*k2/43.0+297275*k3/52632.0-319*k4/2322.0+24068*k5/84065.0+3850*k7/26703.0)

        R=abs(-k1/160.0-125*k3/17952.0+k4/144.0-12*k5/1955.0-3*k6/44.0+125*k7/11592.0+43*k8/616.0)/h
        if(R<=tol):
            t=t+h
            w=w+13*k1/160.0+2375*k3/5984.0+5*k4/16.0+12*k5/85.0+3*k6/44.0
            result.append([t,w,h,R])

        delta=0.871*np.exp(0.20*np.log(tol/R))
        if delta<=0.1:
            h=0.1*h
        elif delta>=4 : h=4.0*h
        else :h=delta*h
        if h>h_max:h=h_max
        if t>=b:flag=False
        elif t+h>b:h=b-t
        elif h<h_min:
            flag=False
            print("minimum h exceeded.")
            


             

    return result

# Example function

In [82]:
def f(t,y):
    return y/t-y**2/t**2

# Test

In [83]:
a=1.0
b=4.0
y_a=1.0
tol=0.000001
h_min=0.05
h_max=0.5
result=runge_kutta_verner(f,a,b,y_a,tol,h_max,h_min)
for r in result:
    print(r)

[1.0, 1.0, 0, 0]
[1.4208756474753723, 1.0514977474344094, 0.4208756474753723, 9.82603971433408e-07]
[1.7887472375470532, 1.1310235710192327, 0.36787159007168085, 8.242650384651363e-08]
[2.288747237547053, 1.2520370925446567, 0.5, 2.9124264472324413e-08]
[2.788747237547053, 1.3767467259050725, 0.5, 5.224624621824603e-10]
[3.288747237547053, 1.5013540148047648, 0.5, 5.352158508054039e-10]
[3.788747237547053, 1.624642694007602, 0.5, 2.8299814228138764e-10]
[4.0, 1.6762292227022868, 0.211252762452947, 2.1288699755221945e-12]

# Exact answer

In [84]:
def y_real(t):
    return t/(1+np.log(t))

exact_answers=y_real(np.array(result)[:,0])
print(exact_answers)

[1.         1.05150869 1.13103364 1.25204675 1.37675632 1.50136369
 1.62465253 1.67623914]

# Final result

In [85]:
table=pd.DataFrame(data=np.c_[result,exact_answers],columns=['t','rkv','h','R','exact'])
table=table[['t','h','R','rkv','exact']]
table.head(n=10)

          t         h             R       rkv     exact
0  1.000000  0.000000  0.000000e+00  1.000000  1.000000
1  1.420876  0.420876  9.826040e-07  1.051498  1.051509
2  1.788747  0.367872  8.242650e-08  1.131024  1.131034
3  2.288747  0.500000  2.912426e-08  1.252037  1.252047
4  2.788747  0.500000  5.224625e-10  1.376747  1.376756
5  3.288747  0.500000  5.352159e-10  1.501354  1.501364
6  3.788747  0.500000  2.829981e-10  1.624643  1.624653
7  4.000000  0.211253  2.128870e-12  1.676229  1.676239