[Amirhossein Mahmoudi](https://ammahmoudi.github.io)
# Runge-Kutta Method for Systems of Differential Equations
solution to [Numerical Analysis (R. Burden, Aires, A. Burden) [10th Ed.]](https://www.amazon.com/Richard-Burden-Numerical-Analysis-Hardcover/dp/B00SB3UL20) Section 5.9 question 2.b

![5_9_2_b](images/5_9_2_b.png)

In [123]:
import pandas as pd
import numpy as np

In [124]:
def rk(f,a,b,h,alphas,N):
    m=2
    
    h=(b-a)/N
    t=a
    w=[[]for _x in range(m)]
    k=[[[]for _x in range(m)] for _ in range(4)]
    result=[]
    for j in range(m):
        w[j]=alphas[j]
    result.append(np.concatenate(([t],w.copy())))
    for i in range(1,N+1):
        for j in range(m):
            k[0][j]=h*f[j](t,w)
        w1=[[]for _x in range(m)]
        for _i in range(m):
            w1[_i]=w[_i]+k[0][_i]/2.0

        for j in range(m):
            k[1][j]=h*f[j](t+h/2.0,w1)
        w2=[[]for _x in range(m)]
        for _i in range(m):
            w2[_i]=w[_i]+k[1][_i]/2.0
        for j in range(m):
            k[2][j]=h*f[j](t+h/2.0,w2)
        w3=[[]for _x in range(m)]
        for _i in range(m):
            w3[_i]=w[_i]+k[2][_i]
        for j in range(m):
            k[3][j]=h*f[j](t+h/2.0,w3)
        for j in range(m):
            w[j]=w[j]+(k[0][j]+2*k[1][j]+2*k[2][j]+k[3][j])/6.0
        t=a+i*h
        result.append(np.concatenate(([t],w.copy())))
    
    return result

## define inputs

In [125]:
def f1(t,w):
    u1=w[0]
    u2=w[1]
    return u1/9.0-2.0/3*u2-t**2/9.0+2.0/3
def f2(t,w):
    u1=w[0]
    u2=w[1]
    return u2+3*t-4

m=2
f=[f1,f2]
a=0
b=2
h=0.2
alphas=[-3,5]
N=10




# def f1(t,w):
#     u1=w[0]
#     u2=w[1]
#     return u2
# def f2(t,w):
#     u1=w[0]
#     u2=w[1]
#     return np.exp(2*t)*np.sin(t)-2*u1+2*u2
# a=0
# b=1
# h=0.1
# alphas=[-0.4,-0.6]

## Actual Results

In [126]:
u1=lambda t:-3*np.exp(t)+t**2
u2=lambda t:4*np.exp(t)-3*t+1
h=(b-a)/N
result_actual=[]
for i in np.arange(a,b+h,h):
    result_actual.append([u1(i),u2(i)])
df_actual=pd.DataFrame(result_actual,columns=['u0_actual','u1_actual'])

## Test

In [127]:
result=rk(f,a,b,h,alphas,N)
columns=['t']
for i in range(m):columns.append('u'+str(i))
df=pd.DataFrame(result,columns=columns)
df_all=pd.concat([df,df_actual],axis=1)
df_all.head(n=100)

      t         u0         u1  u0_actual  u1_actual
0   0.0  -3.000000   5.000000  -3.000000   5.000000
1   0.2  -3.624089   5.275600  -3.624208   5.285611
2   0.4  -4.313589   5.745058  -4.315474   5.767299
3   0.6  -5.100691   6.451294  -5.106356   6.488475
4   0.8  -6.024712   7.446730  -6.036623   7.502164
5   1.0  -7.133675   8.795396  -7.154845   8.873127
6   1.2  -8.486232  10.575497  -8.520351  10.680468
7   1.4 -10.154026  12.882552 -10.205600  13.020800
8   1.6 -12.224557  15.833229 -12.299097  16.012130
9   1.8 -14.804698  19.570026 -14.908942  19.798590
10  2.0 -18.024986  24.266989 -18.167168  24.556224